# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
city_df = pd.read_csv('city_data-Copy1.csv')
city_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Lebu,-37.6167,-73.6500,18.50,69,0,6.45,CL,1614872862
1,Jamestown,42.0970,-79.2353,-1.11,92,90,6.21,US,1614872863
2,Hobart,-42.8794,147.3294,12.22,58,95,5.66,AU,1614872760
3,Castro,-24.7911,-50.0119,23.18,77,95,5.42,BR,1614872863
4,Sørland,67.6670,12.6934,-1.00,93,98,7.72,NO,1614872863
...,...,...,...,...,...,...,...,...,...
549,Qui Nhon,13.7667,109.2333,23.60,88,15,1.02,VN,1614872724
550,Diapaga,12.0708,1.7889,39.48,8,0,3.89,BF,1614872976
551,Moose Factory,51.2585,-80.6094,-20.00,65,1,3.60,CA,1614872976
552,Karratha,-20.7377,116.8463,26.68,68,0,6.21,AU,1614872976
553,Khani,41.9563,42.9566,7.00,57,0,2.06,GE,1614872977

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure